@media (max-width:1480px) {
    .section-location {
        min-height: 87vh;
    }

    .home-location {
        height: 73vh;
    }
}

@media (max-width:1024px) {
    .section-location {
        min-height: 84vh;
    }

    .home-location {
        height: 70vh;
    }

    .home-location {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 768px) {
    .section-location {
        grid-template-areas:
            "aside aside"
            "locations locations";
        grid-template-rows: auto 1fr;
        height: 100%;
    }

    .section-location:first-child {
        padding: 0;
    }

    aside>div>h2{
        padding-top: 25px;
    }

    .aside-location {
        width: 100%;
        height: 150px;
        padding: 0 50px;
        gap: 2px;
    }
}