.section-episode {
    grid-template-areas:
        "aside episodes"
    ;
}

@media (max-width:1480px) {
    .section-episode {
        height: 87vh;
    }

    .home-episode {
        height: 77vh;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width:1024px) {
    .section-episode {
        height: 85vh;
    }

    .home-episode {
        height: 72vh;
    }
}

@media (max-width: 768px) {
    .section-episode {
        grid-template-areas:
            "aside aside"
            "episodes episodes";
        grid-template-rows: auto 1fr;
        height: 100%;
    }

    .section-episode:first-child {
        padding: 0;
    }

    .aside-episode {
        width: 100%;
        height: 150px;
        padding: 0 50px;
        gap: 2px;
    }
}