::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #393939;
    border-radius: 4px;
}

@media (max-width:1480px) {
    .home {
        min-height: 72vh;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width:1024px) {
    .home {
        min-height: 69vh;
    }
}

@media (max-width:880px) {
    .home {
        min-height: 72vh;
    }

    .character-img {
        width: 150px;
    }
}

@media (max-width:768px) {
    .section-home {
        grid-template-areas:
            "aside aside"
            "layout layout";
        grid-template-rows: auto 1fr;
    }

    .aside {
        width: 100%;
        height: 280px;
        padding: 0 50px;
        gap: 2px;
    }
}