.main-container {
    grid-template-areas:
        "header header header"
        "aside layout layout"
        "footer footer footer"
    ;
    grid-template-columns: 350px auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #393939;
    border-radius: 4px;
}