.grid-container {
    grid-template-areas:
        "header"
        "main"
    ;
    background-image: url('./img/img-principal.png');
    background-size: cover;
    background-position: 630px top;
    grid-template-rows: auto 1fr;
}