.grid-container {
    grid-template-areas:
        "header"
        "main"
    ;
    background-image: url('./img/img-principal.png');
    background-size: cover;
    background-position: 630px top;
    grid-template-rows: auto 1fr;
}

@media (max-width:1480px) {
    .grid-container {
        background-position: 490px top;
    }
}

@media (max-width:1440px) {
    .grid-container {
        background-position: 450px top;
    }
}

@media (max-width:1150px) {
    .grid-container {
        background-position: 180px top;
    }
}

@media (max-width:1000px) {
    .grid-container {
        background-position: -7px top;
    }
}

@media (max-width:770px) {
    .grid-container {
        background-position: -300px center;
    }
}

@media (max-width:650px) {
    .grid-container {
        background-position: center;
    }
}

@media (max-width:530px) {
    .btn {
        width: 110px;
    }
}