@import "tailwindcss";

*,
::placeholder {
    letter-spacing: 3px;
    color: #00bcd4;
    paint-order: stroke fill;
    -webkit-text-stroke: .1rem #AADC28;
    font-family: 'Rajdhani', sans-serif;
}
